/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu,
    nav, section {
  display: block;
}

body {
  line-height: 1;
  height: 100%;
  width: 100%;
  background-image: url('./assets/images/home-mobile.jpg');
  background-position: initial;
  background-size: 120%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  @media (min-width: 768px) {
    background-image: url('./assets/images/home-desktop.jpg');
    background-size: 100%;
  }
}

html {
  height: 100%;
  width: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

