section {
  //height: 100%;
  //width: 100%;

  height: 89%;

  .row {
    height: 100%;
  }

  .textos-home {
    //height: 100%;
    font-family: Rockwell Extra Bold;
    h1 {
      color: #FDFEFE;
      font-size: 35px;
    }
    hr {
      margin-top:0;
      border: 0;
      height: 1px;
      background-image: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(244,208,63,1) 35%, rgba(0,0,0,1) 100%);
    }
    h2 {
      color: #F4D03F;
      font-size: 25px;
    }

    p {
      color: #FDFEFE;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}
